# Планирование эксперимента. Лабораторная работа №2

Стандартная преамбула для улучшения визуализации.

In [2]:
# The usual preamble
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import normalize
import scipy.stats

# Make the graphs a bit prettier, and bigger
plt.show(block=True)
plt.style.use('bmh')

plt.rcParams['figure.figsize'] = (15, 5)
plt.rcParams['font.family'] = 'sans-serif'

Загружаем датасет.

In [3]:
dataset = pd.read_csv("athlete_events.csv")
# dataset = pd.read_csv("googleplaystore.csv")[:20000]
dataset[:10]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

In [4]:
df = pd.DataFrame({'Age': dataset['Age'], 'Height': dataset['Height'],
                   'Weight': dataset['Weight'], 'Year':dataset["Year"]})
table = df
table[:5]

    Age  Height  Weight  Year
0  24.0   180.0    80.0  1992
1  23.0   170.0    60.0  2012
2  24.0     NaN     NaN  1920
3  34.0     NaN     NaN  1900
4  21.0   185.0    82.0  1988

In [5]:
res = table.corr()
res

             Age    Height    Weight      Year
Age     1.000000  0.138246  0.212069 -0.115137
Height  0.138246  1.000000  0.796213  0.047578
Weight  0.212069  0.796213  1.000000  0.019095
Year   -0.115137  0.047578  0.019095  1.000000

y = ax1 + bx2 + d

x1 = Height
x2 = Age
y = Weight

In [8]:
x1 = res["Height"]
x2 = res["Age"]
y = res["Weight"]

In [10]:
a = np.array([[sum(x1 * x1), sum(x2 * x1), sum(x1)],
              [sum(x1 * x2), sum(x2  * x2), sum(x2)],
              [sum(x1), sum(x2), len(table)]])
b = np.array([sum(x1),
              sum(x2),
              1])
arr = np.linalg.solve(a, b)
arr

array([ 1.00135505e+00,  7.37671286e-01, -6.99286992e-06])

In [11]:
a0 = arr[2]
a1 = arr[0]
a2 = arr[1]

In [14]:
y = a0 + a1 * x1 + a2 * x2
y

Age       0.876098
Height    1.103329
Weight    0.953722
Year     -0.037298
dtype: float64

y= (-6.99286992e-06) + (1.00135505e+00) * x1 + (7.37671286e-01) * x2